@font-face{
    font-family: 'Libre Franklin Bold';
    src: url('../fonts/LibreFranklin-Bold.ttf') format('truetype');
}

@font-face{
    font-family: 'Libre Franklin';
    src: url('../fonts/LibreFranklin-Regular.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto Mono';
    src: url('../fonts/RobotoMono-Regular.ttf') format('truetype');
}

html {
    height: 100%;
}

body {
    background: linear-gradient(135deg, #14e0f9, #3765ff);
    font-family: 'Libre Franklin';
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    outline: none;
}

h1 {
    display: none;
}

h2 {
    font-weight: normal;
}

#navigation_main {
    height: 2.5em;
    padding: 2em;
    background: linear-gradient(135deg, #14e0f9, #3765ff);
}

#cyberplot_logo {
    height: 2.5em;
}

.button_primary {
    background: linear-gradient(to bottom, #64dafa, #1fbbfb 15%, #3765ff 100%);
    padding: 0.5em;
    border-radius: 0.3em;
    font-family: 'Libre Franklin Bold';
    text-decoration: none;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

.button_primary:hover {
    background: linear-gradient(to bottom, #69dfff, #25c4ff 15%, #3a69ff 100%);
}

.button_primary:active {
    background: linear-gradient(to bottom, #3765ff 15%, #1fbbfb 100%);
}

.button_secondary {
    background: linear-gradient(to bottom, #fff, #fff 15%, #eee 100%);
    padding: 0.5em;
    border-radius: 0.3em;
    font-family: 'Libre Franklin Bold';
    text-decoration: none;
    color: #1fbbfb;
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
}

.button_secondary:hover {
    background-color: white;
}

.button_secondary:active {
    background: linear-gradient(to bottom, #eee, #eee 15%, #fff 100%);
}

.button_secondary_disabled {
    background: linear-gradient(to bottom, #999, #999 15%, #bbb 100%);
    padding: 0.5em;
    border-radius: 0.3em;
    font-family: 'Libre Franklin Bold';
    text-decoration: none;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    cursor: auto;
}

.button_secondary:hover {
    background-color: #eee;
}

#dataset_listing {
    list-style: none;
    padding: 1em;
    margin: 1em;
    margin-right: 0;
    margin: 0;
    padding-right: 0;
    flex-grow: 1;
}

#dataset_listing li {
    border-bottom: 3px solid #eee;
    padding: 1em;
    font-family: 'Libre Franklin Bold';
    color: #888;
}

#dataset_listing li:hover {
    background-color: #eee;
}

#dataset_listing a {
    text-decoration: none;
}

#user_label {
    color: white;
    padding: 0.5em;
    text-decoration: none;
    font-family: 'Libre Franklin Bold';
    float: right;
    margin-right: 1em;
}

.interactive {
    cursor: pointer;
}

#logout_button {
    float: right;
    color: #3765ff;
}

#dataset_add_button {
    height: 3em;
    display: block;
    margin: 1em;
    text-align: center;
    line-height: 3em;
    position: relative;
}

#sidebar {
    width: 40em;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    background-color: #f9f9f9;
}

#content {
    width: 100%;
    background-color: #ececec;
    color: #4b4b4b;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    height: 100%;
    align-items: stretch;
    align-content: stretch;
    overflow: hidden;
}

.content_placeholder {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15em;
}

#icon_user {
    vertical-align: middle;
}

#dataset_listing .router-link-active li {
    background-color: #ececec;
    border-bottom: 5px solid #1fbbfb;
}

#overlay {
    background: #000000de;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

#overlay dialog {
    width: 35em;
    background-color: #f9f9f9;
    opacity: 1;
    border-radius: 0.3em;
    padding: 1em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0;
    position: relative;
    border: none;
}

#overlay header {
    font-size: 1.5em;
    font-family: 'Libre Franklin Bold';
    color: #3765ff;
    background: linear-gradient(to bottom, #64dafa, #1fbbfb 15%, #3765ff 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#overlay header img {
    width: 2.5em;
    vertical-align: middle;
}

#overlay p {
    margin-left: 4.1em;
    margin-top: 0;
}

#overlay form label img {
    display: block;
    width: 5em;
    margin: auto;
}

#overlay #button_close {
    float: right;
    margin: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

#overlay #button_close img {
    width: 1.5em;
}

#overlay nav {
    display: block;
    height: 4em;
}

#overlay nav img {
    width: 4em;
}

#overlay #button_next {
    float: right;
}

#overlay #button_back {
    float: left;
}

.cli_box {
    background-color: black;
    color: white;
    padding: 1em;
    margin-bottom: 1.5em;
    margin-left: 4.1em;
    margin-right: 1em;
    border-radius: 0.3em;
    font-family: 'Roboto Mono';

    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

strong {
    font-family: 'Libre Franklin Bold';
    font-weight: normal;
}

#overlay [type=text], #overlay [type=password] {
    margin-left: 4.1em;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}

#overlay .button_primary {
    display: block;
    margin-left: auto;

    width: intrinsic;
    width: -moz-max-content;
    width: -webkit-max-content;
}

#form_user_settings p:nth-of-type(2) {
    margin-top: 2em;
}

.textbox_with_icon {
    background-position: right;
    background-repeat: no-repeat;
    background-position-x: 0.25em;
    background-position-y: 0.25em;
    background-size: 1.75em;
    padding-left: 2.25em !important;
}

#notifications {
    position: fixed;
    right: 0;
    top: 5.9em;
    background-color: white;
    border-radius: 0.3em;
    margin-right: 2em;
    padding: 1em;
    padding-top: 0;
    box-shadow: 0 0.2em 2em 0.1em #22222233;
    width: 20em;
}

#notifications p {
    margin: 0;
    margin-bottom: 0.25em;
    padding-left: 2.75em;
}

#notifications img {
    vertical-align: middle;
    width: 2.5em;
}

#notifications header {
    font-family: 'Libre Franklin Bold';
    color: #3765ff;
    background: linear-gradient(to bottom, #64dafa, #1fbbfb 15%, #3765ff 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#notifications a {
    float: right;
}

#notifications form {
    display: inline-block;
    width: 100%;
    margin-top: 1em;
}

#notifications form a:nth-of-type(2) {
    margin-right: 0.6em;
}

#notifications #arrow {
    position: fixed;
    width: 3em;
    top: 4.9em;
    right: 12.5em;
}

[type=text], [type=password] {
    display: block;
    background-color: white;
    border: none;
    padding: 0.5em;
    border-radius: 0.3em;
    font-family: 'Libre Franklin Bold';
    margin-bottom: 1em;
    border: 1px solid #ccc;
}

[type=radio] { 
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
  
[type=radio] + div {
    cursor: pointer;
}
  
[type=radio]:checked + div {
    background: linear-gradient(to bottom, #64dafa, #1fbbfb 15%, #3765ff 100%);
    color: white;
}

.errorText {
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 5em;
    color: red;
}

.inputError {
    border-color: red;
    color: red;
}